@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
	--CardMainClr: hsl(228, 56%, 26%);
	--Gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
	--GBTextLeftClr: hsl(229, 7%, 55%);
	--GBNumberLeftClr: hsl(229, 57%, 11%);
	--MainTextClr: hsl(243, 100%, 93%);
}

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	background-image: url(../images/bg-mobile.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	justify-content: center;
	min-height: 100vh;
}

main {
	min-width: 320px;
	margin: auto;
	padding: 0 20px;
}

ul,
li {
	list-style-type: none;
}

.sr-only {
	border: 0 ;
	clip: rect(1px, 1px, 1px, 1px) ;
	clip-path: inset(50%) ;
	height: 1px ;
	margin: -1px ;
	overflow: hidden ;
	padding: 0 ;
	position: absolute ;
	width: 1px ;
	white-space: nowrap ;
	-webkit-clip-path: inset(50%) ;
}

.top,
.bottom {
	background-color: var(--CardMainClr);
}

.top {
	border-radius: 10px 100px 10px 10px;
	min-height: 200px;
	margin-bottom: 15px;
	padding: 40px;
}

.top__logo {
	margin-bottom: 35px;
}

.top__icons {
	display: flex;
}

.top__icons li {
	align-items: center;
	background-color: var(--GBNumberLeftClr);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin-right: 15px;
	min-width: 45px;
	padding: 15px;
}

.bottom {
	border-radius: 10px;
	min-height: 160px;
	min-height: 160px;
	padding: 30px;
	position: relative;
	z-index: -1;
}

.bottom__title {
	color: var(--MainTextClr);
	font-weight: 400;
	font-size: 1em;
	margin-bottom: 20px;
	text-align: center;
}

.attribution {
	bottom: 2rem;
	font-size: 2rem;
	font-size: 11px;
	position: absolute;
	text-align: center;
}

.attribution a {
	color: hsl(228, 100%, 78%);
	font-size: 0.65rem;
	text-decoration: none;
}

.bottom__title span {
	font-weight: 700;
}

.bottom__bar {
	align-items: center;
	background-color: var(--GBNumberLeftClr);
	border-radius: 25px;
	display: flex;
	height: 20px;
	justify-content: flex-start;
	margin-bottom: 10px;
	padding: 3px;
}

.bottom__bar-progress {
	background: var(--Gradient);
	border-radius: 25px;
	height: 100%;
	position: relative;
	width: 70%;
}

.bottom__bar-end {
	background-color: #fff;
	border-radius: 50%;
	height: 10px;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 10px;
}

.bottom__range {
	color: var(--MainTextClr);
	display: flex;
	font-weight: 700;
	justify-content: space-between;
	width: 100%;
}

.left {
	align-items: center;
	background-color: #fff;
	border-radius: 10px;
	bottom: -26.5px;
	color: var(--GBTextLeftClr);
	cursor: pointer;
	display: flex;
	font-weight: 700;
	justify-content: space-between;
	left: 25%;
	padding: 10px 25px;
	text-transform: uppercase;
	text-align: center;
	width: 50%;
	z-index: 1;
}


.gb {
	color: var(--GBNumberLeftClr);
	cursor: pointer;
	font-size: 2em;
	margin-right: 5px;
}

.left-gb {
	color: var(--GBTextLeftClr);
	cursor: pointer;
	font-size: 0.98em;
}

