* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --open-sans: "Open Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
  --pink: hsl(322, 100%, 66%);
  --padding-container: 80px 0;
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}

body {
  font-family: var(--open-sans);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
  width: 90%;
}


.hero {
  min-height: 100vh;
  position: relative;
  --wave-bottom: url("../images/bg-section-top-mobile-1.svg");
}

.hero__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  --padding-container: 60px 0 45px;
}

.hero__logo {
  max-width: 160px;
  width: 45%;
}

.hero__huddle {
  display: block;
  width: 100%;
}

.hero__cta {
  border: 2px solid;
  border-radius: 30px;
  box-shadow: 0 0 1px;
  color: var(--light-pink);
  font-weight: 600;
  padding: 6px 16px;
  text-decoration: none;
}

.hero__main {
  color: var(--very-dark-cyan);
  text-align: center;
}

.hero__title {
  font-family: var(--poppins);
}

.hero__paragraph {
  margin: 16px auto;
  line-height: 1.5;
  width: 90%;
}

.cta {
  background-color: var(--pink);
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  padding: 16px 30px;
  margin-top: 16px;
  text-decoration: none;
}

.hero__picture {
  margin-top: 80px;
}

.hero__img {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.hero__numbers {
  align-items: center;
  display: flex;
  gap: 60px;
  flex-direction: column;
  margin-top: 80px;
  padding-bottom: 100px;
}

.hero__items {
  overflow: hidden;
}

.hero__number {
  font-size: 60px;
}

.hero__icon {
  display: block;
}

.wave {
  background-size: 100% 100px;
  background-repeat: no-repeat;
  height: 100px;
  position: absolute;
  width: 100%;
}

.wave--bottom {
  bottom: 0;
  background-image: var(--wave-bottom);
  left: 0;
}

.wave--top {
  background-image: var(--wave-top);
  left: 0;
  top: 0;
}

.section {
  background-color: var(--very-pale-blue);
  --padding-container: 110px 0;
}

.section--white {
  background-color: #ffffff;
  position: relative;
  --padding-container: 210px 0;
  --wave-top: url("../images/bg-section-bottom-mobile-1.svg");
  --wave-bottom: url("../images/bg-section-top-mobile-2.svg");
}

.section__container {
  display: flex;
  flex-direction: column;
}

.section__img {
  display: block;
  max-width: 350px;
  margin: 0 auto;
  width: 100%;
}

.section__texts {
  margin-top: 50px;
  text-align: center;
}

.subtitle {
  font-family: var(--poppins);
  margin-bottom: 16px;
}

.question {
  position: relative;
  text-align: center;
  --wave-top: url("../images/bg-section-bottom-mobile-2.svg");
  --wave-bottom: url("../images/bg-footer-top-mobile.svg");
  --padding-container: 190px 0 210px;
}

.footer {
  background-color: var(--very-dark-cyan);
  color: #fff;
}

.footer__title {
  font-family: var(--poppins);
  letter-spacing: 2px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.footer__paragraph {
  line-height: 1.5;
  margin: 16px 0 50px;
}

.footer__form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.footer__input {
  border-radius: 3px;
  border: none;
  flex-basis: 100%;
  flex-grow: 1;
  font-size: 16px;
  font-family: var(--open-sans);
  margin-bottom: 20px;
  outline: none;
  padding: 16px 6px;
}

.footer__cta {
  background-color: var(--pink);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: var(--open-sans);
  margin-left: auto;
  padding: 10px 40px;
  text-decoration: none;
}

.footer__contact {
  line-height: 50px;
}

.footer__contact::after {
  content: "Phone: +1-543-123-4567";
  margin-left: 10px;
}

.footer__contact--email::after {
  content: "example@huddle.com";
}

.footer__social {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 30px;
}

.footer__link {
  text-decoration: none;
  width: 40px;
}

.footer__icon {
  display: block;
  width: 100%;
}
